.listContainer {
    display: flex;
    justify-content: space-between;
    width: 256px;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }

.listContainer button {
    background-color: red;
} 

.listContainer .listActions{
    display: flex;
    justify-content: space-between;
    width: 100px;
}